<h1>Welcome, <%=@user.username%>!</h1>

<%@user.games.each do |game| %>
<h3><a href="/games/<%=game.id%>"><%=game.name%></a></h3>
<%end%>
<br>

<a href="/games/new">Create New Game</a><br>
<a href="/users/logout">Logout</a>
