<h1>Welcome, <%=@user.username%>!</h1>



<%if !@user.games.empty?%>
  <%@user.games.each do |game| %>
  <h3><a href="/games/<%=game.id%>"><%=game.name%></a> - <a href="/games/<%=game.id%>/edit">Edit</a> </h3>
  <%end%>
<%else%>
  <h3>You currently don't have any games.</h3>
<%end%>

<br>

<a href="/games/new">Create New Game</a><br>
<a href="/users/logout">Logout</a>
