<h1>Edit Game: <%=@game.name%></h1>



<form action="/games/<%=@game.id%>" method="post">
  <p>Name: <input type="text" name="name"></p>
  <input type="submit" value="Edit Game">
</form>
<br>
<form method="post" action="/games/<%=@game.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
<br>
<a href="/users/<%=@user.id%>">Homepage</a>
