<h1>Create New Game: </h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/games/new" method="post">
  <p>Name: <input type="text" name="name"></p>
  <input type="submit" value="Create">
</form>
<br><br>

<a href="/users/<%=@user.id%>">Homepage</a>
