<h1>Create New Character: </h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/characters/new/<%=@game.id%>" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Ability: <input type="text" name="abilities[]"></p>
  <p>Optional additional abilities:</p>
  <p><input type="text" name="abilities[]"></p>
  <p><input type="text" name="abilities[]"></p>
  <p><input type="text" name="abilities[]"></p>
  <input type="submit" value="Create">
</form>
<br><br>
